input,
textarea {
  outline: none !important;
}
button,
select {
  outline: none !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabitem::after {
  content: "";
  background: #146e5f;
  height: 4px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scaleX(0);
}
.activeTab::after {
  transform: scaleX(1);
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #1eac86;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.fade-in {
  animation: fade-in 600ms normal;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-shadow-white {
  text-shadow: 0px 2px 10px #5e5e5e;
}

.fade-in-down {
  animation: fadeInDown ease 600ms;
  -webkit-animation: fadeInDown ease 600ms;
  -moz-animation: fadeInDown ease 600ms;
  -o-animation: fadeInDown ease 600ms;
  -ms-animation: fadeInDown ease 600ms;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-ms-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* width */
.custom__scroll::-webkit-scrollbar {
  width: 5px;
  border-radius: 999px;
}

/* Track */

.custom__scroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 5px;
}

/* Handle */

.custom__scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */

.custom__scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[placeholder] {
  text-overflow: ellipsis;
}
::-moz-placeholder {
  text-overflow: ellipsis;
} /* firefox 19+ */
input:-moz-placeholder {
  text-overflow: ellipsis;
}
a {
  color: #0017e8;
}
p.single__line_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textarea p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.searchClear{
  border:0 !important;
}

.text-small {
  font-size: small !important;
}

